.app {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.header {
  background-color: #007BFF;
  color: rgba(255, 255, 255, 1);
  padding: 20px;
}

.main {
  padding: 20px;
}

.footer {
  width: 100%;
  background-color: #007BFF;
  color: rgba(255, 255, 255, 1);
  padding: 10px;
  position: absolute;
  bottom: 0;
}